:root {
    --main-red: #D73038;
    --main-dark-blue: #152E46;
    --light-pink: #F0C6C5;
    --main-blue: #2C60A5;
}


* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

section {
  width: 100%;
  height: 100%;
  display: box;
  display: -webkit-box;
  overflow-x: auto;
  white-space: nowrap;
}

/*HILARY'S CODE*/
#definition {
    background-image: url(../images/background1.png);
  /*height: 1986px;*/
    width: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top:25vh;
}

.row.earn {
    padding-top:30vh;
}

.dollars {
    padding-top: 40vh;   
}

h1.define {
    font-size: 230px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 230px;
}

h2.define {
    font-size: 40px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 65px;
}

h1.nearly {
    font-size: 200px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 220px;
}

h1#dollar {
    font-size:100px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    line-height: 130px
}

/* why you should care section*/

#why-should-you-care {
    background-color: #cd3135;
    height:700px;
    width: auto;
    background-size: 100%;
    padding-top: 20vh;
    
}
#inequality {   
    padding-top: 15vh;
    background-color:#e4a627;
    height:400px;
    
}

#economic {
    padding-top: 10vh;
    background-color:#e6bdba;
    padding-bottom: 10vh;
}

h1.care{
    font-size: 200px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 230px;
}

h2.care {
    font-size: 40px;
    color:#132c43;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
}

h1.economic { 
    font-size: 80px;
    color:#ce2f31;
    font-family: 'Josefin Sans', bold, sans-serif;
    text-align: left;
    font-weight:bold;
}

h2.economic {
   font-size: 30px;
    color:#132c43;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    line-height: 30px;
}

/* Contemporary Figures*/

.figuretitle{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #132c43;
}

.lilly {
    background-color:#e6bdba;
    padding-bottom: 10vh;
}

.letitia {
    background-color:#ce2f31;
    padding-bottom: 10vh;
}

.claudia {
    background-color: #132c43;;
    padding-bottom: 10vh;
}

#lils {
    width:90%
}

h1.figuretitle{
      font-size: 150px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 230px;
}

h1.leaderlil {
    font-size: 80px;
    color: #ce2f31;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    line-height: 230px;
}

#let {
    width:90%
}

h2.leader-info
{
    font-size: 25px;
    color:#132c43;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    line-height: 30px;
}


h1.leaderlet {
    font-size: 80px;
    color: #132c43;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    line-height: 230px;
}

h1.leaderclaud {
    font-size: 80px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    line-height: 230px;
}
    
h2.leader-claudia
{
    font-size: 25px;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    line-height: 30px;
}

/*CTA section*/

.afford {
    padding-top: 15vh;
    padding-bottom: 15vh;
     background-color:white;
}

.pay {
    background-color: #e4a627;
    height: 539px;
}

h2.cta {
    font-size: 50px;
    color: #ce2f31;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    line-height:60px;
}

h1.equal {
     font-size: 150px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 230px;
}

.claudia {
    background-color: #132c43;;
    padding-bottom: 10vh;
}
h1.leaderclaud {
    font-size: 80px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    line-height: 230px;
}
    
h2.leader-claudia
{
    font-size: 25px;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    line-height: 30px;
}

/*END OF HILLARY CODE*/

/*section {
  float: left;
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
}*/

.container {
  /*max-width: 1170px;*/
  box-sizing: border-box;
  display: block;
  margin: auto;
  width: 100%;
}

/*TITLE SECTION*/

#title {
  height: 100%;
  width: 100%;
  background-image: url("../images/test.png");
  /*background-color: var(--main-red);*/
  z-index: 1;
}

.title-header {
    font-family: 'Fjalla One', sans-serif;
    font-size: 9em;
}

.title-sub-header {
  z-index: 1;
  color: pink;
}

video {
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;
  position: relative;
}

.no-padding {
  padding: 0;
}

/*HISTORY SECTION*/

#history {
  position: relative;
}

.history-header {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  color: var(--main-dark-blue);
  text-transform: uppercase;
  font-size: 130px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.history-center {
  display: flex;
  flex-direction: column;
}

.history-card-headers {
  color: var(--main-dark-blue);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100pt;
  text-align: center;
}

.card-back-sub-header {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  margin-top: 15px;
}

p.paragraph-history-text {
  margin-right: 70px;
  margin-left: 70px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
/*REPLACE WITH ICONS EVENTUALLY*/
svg.svg-inline--fa.fa-circle.fa-w-16 {
  text-align: center;
  margin: 0 auto;
  display: flex;
  color: var(--main-blue);
  font-size: 50px;
}

.flip-container {
  perspective: 1000px;
  margin-bottom: 80px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
  height: 403px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.history-card-yellow {
  background-color: #E6A827;
}

.history-card-red {
  background-color: var(--main-red);
}

.history-card-pink {
  background-color: var(--light-pink);
}

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
}

/*STATES MAP SECTION*/

#state-map {
  height: 100%;
  width: 100%;
  background-color: red;
}

/* On mouse hover, lighten state color */
path:hover {
  fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
        
/* Legend Font Style */

        
/* Legend Position Style */
.legend {
  position:absolute;
  left:800px;
  top:350px;
}


/*CTA SECTION*/



#cta {
  background-image: url("../images/cta-background.png");
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  /*position: fixed; */ 

}

/*WANT TO USE THE INFINITE SCROLL*/
/*
.scroll
{
    position: fixed;
    bottom: 0;
    left: 0;
}*/

/*#section-section1 {
  bottom: 0;  
  width: 2900px;  
  z-index: 2;
}

#section-section2 {
    bottom: 0;  
    width: 100%;
    z-index: 1;
}

#section-section4 {
    bottom: 0;  
    width: 3000px;
    z-index: 3;
}
*/
/*.horizon
{
  z-index: 1;
  width: 3000px;
}

.middle
{
  z-index: 500;
  width: 4000px;
}

.front
{
  z-index: 1000;
  width: 6000px;
}
*/


.h1.cta {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 150px;
  text-align: center;
  
}

#cta-center {
  height: 100%;
}


/*SOLUTIONS SECTION*/

#solutions {
  height: 100%;
  width: 100%;
  /*border: 15px solid white;*/
  /*position: fixed; */ 
  /*position: absolute;*/
}


#resources-center {
  height: 100%;
}

#family {
  background-color: var(--main-dark-blue);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#political {
  background-color: var(--light-pink);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .25s linear;
}

#political:hover {
  transform: scaleX(1.05);
  cursor: pointer;
  color: black;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*#political-header-hover {
  transition: all .25s linear;
}*/

/*#political-header-hover:hover {
  transform: scaleX(3);
}*/

 #financial {
  background-color: var(--main-blue);
  height: 100%;
  display: flex;
  flex-direction: column;
 }

.h3.solutions-headers {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 90px;
}

.showText {
  display: none;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  white-space: normal;


}

.showTextFinancial {
  display: none;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  white-space: normal;
}

.showTextFamily {
  display: none;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  white-space: normal;
}

#nav {
  position: fixed;
  z-index: 3;
}

#nav-hamburger {
  float: right;
  color: white;
  margin-right: 40px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(19, 44, 67, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 60px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover:first-child: {
  color: var(--main-red);
}

.overlay a:hover:nth-child(2) {
  color: #e6a827;
}

.overlay a:hover:nth-child(3) {
  color: var(--light-pink);
}

.overlay a:hover:nth-child(4) {
  color: var(--main-blue);
}

.overlay a:hover:last-child {
  color: #e6a827;
}

.nav-links {
  color: var(--main-red);
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

.overlay a:hover, .overlay a:focus {
    color: var(--main-red);
}

.overlay .closebtn {
    position: absolute;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*.fuck-box {
  height: 20px;
  width: 20px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  o-text-overflow: ellipsis;
  text-overflow: ellipsis;

}*/

.h4.solutions-subheads {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 35px;
  font-size: 25px;
  text-transform: uppercase;
}

/*FOOTER SECTION*/

.resources-header {

}

#footer {
  background-color: var(--light-pink);
  height: 100%;
}

/*#footer-credits {
  height: 10%;
  background-color: var(--main-dark-blue);
}*/

#containerCircle {
 margin: 20px;
  width: 200px;
  height: 200px;

}
#containerCircle1 {
 margin: 20px;
  width: 200px;
  height: 200px;

}
.ocupation-stats-section {
  color: var(--light-pink);
  font-family: 'Fjalla One', sans-serif;
  font-size: 230px;
  margin-left: 50px;
  text-transform: uppercase;
}

.ocupation-sub-header {
  color: #e6a827;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-left: 50px;
  font-size: 70px;
}

#glass {
  margin-top: 20px;
}

.glass-elevator-paragraph-intro {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  /*margin-left: 200px;*/
   margin-left: 50px;
  margin-right: 290px;
  white-space: normal;
  margin-top: 30px;

}

#radial-graphs {
  background-color: var(--main-dark-blue);
  height: 100%;
  width: 100%;
}

.footer-header {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  margin-top: 5px;
  margin-left: 30px;
}

.footer-sub-header {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
}

.footer-amp {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  margin-left: 10px;
}

#alexa {
  margin-top: 0;
  margin-bottom: 10px;
}

#crafted-seattle {
  margin-top: 15px;
}

.footer-links:hover {
  color: var(--main-red);
}


svg.svg-inline--fa.fa-hand-paper.fa-w-14 {
    visibility: hidden;
    font-size: 16px;
}

.footer-header:hover svg.svg-inline--fa.fa-hand-paper.fa-w-14 {
  visibility: visible;
  font-size: 16px;
  color: var(--light-pink);
}

svg.svg-inline--fa.fa-hand-paper.fa-w-14 {
  animation-name: shake;
  -webkit-animation: shake 0.5s alternate infinite; 
    -moz-animation: shake 0.5s alternate infinite; 
    animation: shake 0.5s alternate infinite; 
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

@keyframes shake {
  0% {-webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
  100% {-webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);}
}

svg.svg-inline--fa.fa-thumbs-up.fa-w-16 {
  visibility: hidden;
  font-size: 14px;
}

.footer-header:hover svg.svg-inline--fa.fa-thumbs-up.fa-w-16 {
  visibility: visible;
  font-size: 14px;
  color: var(--light-pink);
}

svg.svg-inline--fa.fa-thumbs-up.fa-w-16 {
  animation-name: flash;
  animation: flash .50s infinite alternate;
}

@keyframes flash {
  to { transform: scale(1.2); }
}





/*Media queries*/

@media (max-width: 1024px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

/*Eriks starter css*/
/*
body {
  cursor: url('doge.ico'), default;
}
html, body {
  margin: 0;
  padding: 0;
}
*{box-sizing: border-box;}*/

/*typography styling here*/
/*h1, h2, h3, h4, h5, p {font-family: 'Source Sans Pro', sans-serif;}
h1 {}
h2 {}
h3 {font-size: 22px;}
h4 {}
h5 {}
p {font-size: 16px;}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #5000F1;
}*/
/*unique typography*/
/*.huge a {font-size:100px; color:#fff; text-align: center;margin-top: 200px; display:block;}*/

/*navigation here*/
/*.nav ul {list-style-type:none;display:flex;}
.nav li {display:block; width:120px;}*/


/*structural units*/
/*.header {height: 200px;*/
/*  background:orange;*//*edit here */
 /* clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  ); position:fixed;top:0px; left:0px; width:100%; z-index: 100; }*/

/*.hero {margin-top:100px;background:pink; min-height:400px;}*/
/*.row,.container {background: #fff;}*/
/*#one, #two, #three, #four, #five, #six, #seven,#eight {height:100vh; border-bottom: thin dashed #333;padding-top: 200px;}*//*you can change this*/
/*.cell{min-height: 100px; outline: thin grey solid;*//*outline for display*//*}*/


/*parallax*/
/*.lg-green {
  width: 160px;
  height: 160px;
  background: #00F1C9;
  border-radius: 12px;
}*/

/*transitions*/
/*a.spin, a.swell, a.levitate {display: block; width:200px; height: 200px; background:yellow; border-radius: 4px;
transition: all 1s ease;}
a.spin:hover {transform:rotate(45deg);}
a.swell:hover{transform:scale(1.5);}
a.levitate:hover{transform:scale(1.1); -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,.5);
  box-shadow: 0 0 20px 5px rgba(0,0,0,.5); }*/

/*bg video*/
/*video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(clouds.jpg) no-repeat;
    background-size: cover; 
}
#video {height: 100vh;
}*/


/**
 
 * css keyframe animation 
 
 */
/*#slide {
    width: 100px;
    height: 100px;
    background: red;
    position :relative;*/
    /*-webkit-animation: mymove 3s infinite;*/ /* Safari 4.0 - 8.0 */
    /*animation: mymove 3s infinite;*/
/*}*/

/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}*/

/* Standard syntax */
/*@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}*/

/*clippy*/
/*#clippy {-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);;
background-image:url(../img/matterhorn.jpg);height:400px;}*/
/*----------------------------------
  Main
------------------------------------*/

/*----------------------------------
  Medium devices
------------------------------------*/

/*@media (max-width: 1024px) {


}
*/


/*----------------------------------
  Phablets
------------------------------------*/

/*@media (max-width: 767px) {


}*/


/*----------------------------------
Phones
------------------------------------*/

/*@media (max-width: 480px) {
  
}*/


/*.parent-div {
  position: relative;
}

video {
  position: relative;
}

#image {
  background-color: black;
  position: absolute;
}
*/

