:root {
    --main-red: #D73038;
    --main-dark-blue: #152E46;
    --light-pink: #F0C6C5;
    --main-blue: #2C60A5;
}


* {
	box-sizing: border-box;
}

html, body {
  	margin: 0;
  	padding: 0;
    height: 100%;
    width: 100%;
}

/*HILARY'S CODE*/
#definition {
    background-image: url(../images/background1.png);
  height:1900px;
    width: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top:25vh;
}

.row.earn {
    padding-top:30vh;
}

.dollars {
    padding-top: 40vh;   
}

h1.define {
    font-size: 230px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 230px;
}

h2.define {
    font-size: 40px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 65px;
}

h1.nearly {
    font-size: 200px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 220px;
}

h1#dollar {
    font-size:100px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    line-height: 130px
}

/* why you should care section*/

#why-should-you-care {
    background-color: #cd3135;
    height:700px;
    width: auto;
    background-size: 100%;
    padding-top: 20vh;
    
}
#inequality {   
    padding-top: 15vh;
    background-color:#e4a627;
    height:400px;
    
}

#economic {
    padding-top: 10vh;
    background-color:#e6bdba;
    padding-bottom: 10vh;
}

h1.care{
    font-size: 200px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 230px;
}

h2.care {
    font-size: 40px;
    color:#132c43;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
}

h1.economic { 
    font-size: 80px;
    color:#ce2f31;
    font-family: 'Josefin Sans', bold, sans-serif;
    text-align: left;
    font-weight:bold;
}

h2.economic {
   font-size: 30px;
    color:#132c43;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    line-height: 30px;
}

/* Contemporary Figures*/

.figuretitle{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #132c43;
}

.lilly {
    background-color:#e6bdba;
    padding-bottom: 10vh;
}

.letitia {
    background-color:#ce2f31;
    padding-bottom: 10vh;
}

.claudia {
    background-color: #132c43;;
    padding-bottom: 10vh;
}

#lils {
    width:90%
}

h1.figuretitle{
      font-size: 150px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 230px;
}

h1.leaderlil {
    font-size: 80px;
    color: #ce2f31;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    line-height: 230px;
}

#let {
    width:90%
}

h2.leader-info
{
    font-size: 25px;
    color:#132c43;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    line-height: 30px;
}


h1.leaderlet {
    font-size: 80px;
    color: #132c43;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    line-height: 230px;
}

h1.leaderclaud {
    font-size: 80px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    line-height: 230px;
}
    
h2.leader-claudia
{
    font-size: 25px;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    line-height: 30px;
}

/*CTA section*/

.afford {
    padding-top: 15vh;
    padding-bottom: 15vh;
     background-color:white;
}

.pay {
    background-color: #e4a627;
    height: 539px;
}

h2.cta {
    font-size: 50px;
    color: #ce2f31;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    line-height:60px;
}

h1.equal {
     font-size: 150px;
    color:white; 
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    line-height: 230px;
}

.claudia {
    background-color: #132c43;;
    padding-bottom: 10vh;
}
h1.leaderclaud {
    font-size: 80px;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    line-height: 230px;
}
    
h2.leader-claudia
{
    font-size: 25px;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    line-height: 30px;
}

/*END OF HILLARY CODE*/

section {
  float: left;
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
	/*max-width: 1170px;*/
	margin: auto;
  width: 100%;
}

/*TITLE SECTION*/

#title {
  height: 100%;
  width: 100%;
  /*background-color: var(--main-red);*/
}

.title-header {
    font-family: 'Fjalla One', sans-serif;
    font-size: 9em;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    /*-webkit-text-fill-color: transparent;*/

}

.test {
    background: rgba(0,0,0,.8);
    border: 5px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 6em 20px 20px;
    position:absolute;
/*float:left;*/
    width:640px;
    min-height:370px;
    background-color:#000;
    z-index:300000;
}

.wrapper {
    text-align: center;
}

#video_overlays {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:#000;
}




.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500000;
}

/*.wrapper {
    text-align: center;
}*/

/*.title {
    font-size: 2em;
    position: relative;
    margin: 0 auto 1em;
    padding: 1em 1em .25em 1em;
    text-align: center;
    text-transform: uppercase;
}*/
/*.title:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    height: 4px;
    margin-left: -120px;
    content: '';
    background-color: #fff;
}*/

/* Clip text element */
/*.clip-text {
    font-size: 10.5em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding: .5em .75em;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;*/
    /* Color fallback */
/*    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}*/

/*.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}*/

/* Background */
/*.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}
*/
/* Text Background (black zone) */
/*.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #000;
}*/

/* Change the background position to display letter when the black zone isn't here */
/*.clip-text--no-textzone:before {
    background-position: -.65em 0;
}

.clip-text--no-textzone:after {
    content: none;
}*/

/* Use Background-size cover for photo background and no-repeat background */
/*.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.clip-text_one {
    background-image: url(http://cdn8.staztic.com/app/a/6278/6278761/hd-abstract-wallpapers-1-0-s-307x512.jpg);
}*/

video {
  width: 100%;
  height: 100%;
  margin: 0;
  /*z-index: 1;*/
  
}

.no-padding {
  padding: 0;
}
/*
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/


/*HISTORY SECTION*/

.history-header {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  color: var(--main-dark-blue);
  text-transform: uppercase;
  font-size: 100px;
}

#card {
  height: 403px;
  width: 100%;
  background-color: var(--main-red);
  margin-top: 5.5em;
   /* display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;*/
}

.history-card-headers {
  color: var(--main-dark-blue);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100pt;
  text-align: center;
}

svg.svg-inline--fa.fa-certificate.fa-w-16 {
  text-align: center;
  margin: 0 auto;
  display: flex;
  color: var(--main-blue);
  font-size: 70px;
  margin-top: 80px;
  margin-bottom: 10px;
}

/*CTA SECTION*/



#cta {
  background-image: url("../images/cta-background.png");
  height: 100%;
  background-position: center center;
  background-size: cover;
  /*position: absolute;*/
 /* position: fixed; INFINITE SCROLL */ 

}

/*WANT TO USE THE INFINITE SCROLL*/

/*.scroll
{
    position: fixed;
    bottom: 0;
    left: 0;
}*/

/*#section-section1 {
bottom: 0;  
width: 4500px;
z-index: 2;
}

#section-section2 {
  bottom: 0;  
  width: 100%;
  z-index: 1;

}*/

/*body {
  overflow-x: hidden;
}*/

.h1.cta {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 150px;
  text-align: center;
  
}

#cta-center {
  height: 100%;
}

/*#tests {
   display: flex; 
   align-items: center;  
   justify-content: center;
   width: 100%;
}*/

/*SOLUTIONS SECTION*/

#solutions {
  height: 100%;
  width: 100%;
  border: 15px solid white;
  /*position: fixed;  */
  /*position: absolute;*/
}

#resources-center {
  height: 100%;
}

#family {
  background-color: var(--main-dark-blue);
  height: 100%;
  display: flex;
  flex-direction: column;
}



#political {
  background-color: var(--light-pink);
  height: 100%;
  display: flex;
  flex-direction: column;
}

#political:hover {
  width: 5100px;

}
 #financial {
  background-color: var(--main-blue);
  height: 100%;
  display: flex;
  flex-direction: column;
 }

.h3.solutions-headers {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 90px;
}

.h4.solutions-subheads {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 35px;
  font-size: 25px;
  text-transform: uppercase;
}

/*FOOTER SECTION*/

#footer {
  background-color: red;
  /*height: 10%;*/
}

.footer-header {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
}

.footer-sub-header {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}


/*Media queries*/

@media (max-width: 1024px) {}

@media (max-width: 767px) {}

@media (max-width: 480px) {}

/*Eriks starter css*/
/*
body {
	cursor: url('doge.ico'), default;
}
html, body {
  margin: 0;
  padding: 0;
}
*{box-sizing: border-box;}*/

/*typography styling here*/
/*h1, h2, h3, h4, h5, p {font-family: 'Source Sans Pro', sans-serif;}
h1 {}
h2 {}
h3 {font-size: 22px;}
h4 {}
h5 {}
p {font-size: 16px;}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #5000F1;
}*/
/*unique typography*/
/*.huge a {font-size:100px; color:#fff; text-align: center;margin-top: 200px; display:block;}*/

/*navigation here*/
/*.nav ul {list-style-type:none;display:flex;}
.nav li {display:block; width:120px;}*/


/*structural units*/
/*.header {height: 200px;*/
/*  background:orange;*//*edit here */
 /* clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  ); position:fixed;top:0px; left:0px; width:100%; z-index: 100; }*/

/*.hero {margin-top:100px;background:pink; min-height:400px;}*/
/*.row,.container {background: #fff;}*/
/*#one, #two, #three, #four, #five, #six, #seven,#eight {height:100vh; border-bottom: thin dashed #333;padding-top: 200px;}*//*you can change this*/
/*.cell{min-height: 100px; outline: thin grey solid;*//*outline for display*//*}*/


/*parallax*/
/*.lg-green {
  width: 160px;
  height: 160px;
  background: #00F1C9;
  border-radius: 12px;
}*/

/*transitions*/
/*a.spin, a.swell, a.levitate {display: block; width:200px; height: 200px; background:yellow; border-radius: 4px;
transition: all 1s ease;}
a.spin:hover {transform:rotate(45deg);}
a.swell:hover{transform:scale(1.5);}
a.levitate:hover{transform:scale(1.1); -webkit-box-shadow: 0 0 20px 5px rgba(0,0,0,.5);
	box-shadow: 0 0 20px 5px rgba(0,0,0,.5); }*/

/*bg video*/
/*video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(clouds.jpg) no-repeat;
    background-size: cover; 
}
#video {height: 100vh;
}*/


/**
 
 * css keyframe animation 
 
 */
/*#slide {
    width: 100px;
    height: 100px;
    background: red;
    position :relative;*/
    /*-webkit-animation: mymove 3s infinite;*/ /* Safari 4.0 - 8.0 */
    /*animation: mymove 3s infinite;*/
/*}*/

/* Safari 4.0 - 8.0 */
/*@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}*/

/* Standard syntax */
/*@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
}*/

/*clippy*/
/*#clippy {-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);;
background-image:url(../img/matterhorn.jpg);height:400px;}*/
/*----------------------------------
  Main
------------------------------------*/

/*----------------------------------
  Medium devices
------------------------------------*/

/*@media (max-width: 1024px) {


}
*/


/*----------------------------------
  Phablets
------------------------------------*/

/*@media (max-width: 767px) {


}*/


/*----------------------------------
Phones
------------------------------------*/

/*@media (max-width: 480px) {
	
}*/


/*.parent-div {
  position: relative;
}

video {
  position: relative;
}

#image {
  background-color: black;
  position: absolute;
}
*/

