:root {
  --main-red: #D73038;
  --main-dark-blue: #152E46;
  --light-pink: #F0C6C5;
  --main-blue: #2C60A5;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: url(../images/cursor-10.png),  auto;
}

section {
  width: 100%;
  height: 100%;
  display: box;
  display: -webkit-box;
  overflow-x: auto;
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

#chartdiv {
  width: 100%;
  height: 500px;
}

::-webkit-scrollbar  {
  display: none;
}

/*HILARY'S CODE*/

#race {
  margin:auto;
  width: 100%;
  padding-top:10vh;
  background-color: #296099;
  padding-bottom:40vh;
}

#poc {
  padding-bottom: 8vh;
}

#racestat{
  padding-top: 10vh;
}

#fiftysix {
    padding-top: 5vh;
}

h2.race {
  font-size: 30px;
  color:white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  line-height: 30px;
  white-space: normal;
}

h1.race{
  color:#132c43;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  line-height: 230px;
  display: flex;
  align-content: center;
 }

a.growing {
  transition: all 1s ease-out;
  font-size: 200px;
}

a.growing:hover {
  font-size: 250px;
}

#raceStat {
  margin: 0px;
  width: 400px;
  height: 8px;
  position: relative;
  margin-bottom: 40px;
}

#raceStat2 {
  margin: 0px;
  width: 400px;
  height: 8px;
  position: relative;
}

#raceStat3 {
  margin: 0px;
  width: 400px;
  height: 8px;
  position: relative;
  margin-bottom: 40px;
  
}

#raceStat4 {
  margin: 0px;
  width: 400px;
  height: 8px;
  position: relative;
}

.progress {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

#definition {
  background-image: url(../images/Background-small.png);
  width: 300%;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top:25vh;
}

.row.earn {
  padding-top:30vh;
}

.dollars {
  padding-top: 40vh;   
}

h1.define {
  font-size: 230px;
  color:white; 
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  line-height: 230px;
}

h2.define {
  font-size: 40px;
  color:white; 
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  line-height: 65px;
}

h1.nearly {
  font-size: 200px;
  color:white; 
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  line-height: 220px;
}

h1#dollar {
  font-size:100px;
  color:white; 
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  line-height: 130px
}

a.cents {
  transition: all 1s ease-out;
  font-size: 200px;
}

a.cents:hover {
  font-size: 250px;
  color:#D73038;
}

#why-should-you-care {
  background-color: #cd3135;
  height:700px;
  width: auto;
  background-size: 100%;
  padding-top: 20vh;
}

#inequality {   
  padding-top: 15vh;
  background-color:#e4a627;
  height:400px;
}

#economic {
  padding-top: 10vh;
  background-color:#e6bdba;
  padding-bottom: 10vh;
  font-size: 16px;
}

h1.care {
  font-size: 200px;
  color:white; 
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  line-height: 230px;
}

h2.care {
  font-size: 40px;
  color:#132c43;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
}

h1.economic { 
  font-size: 80px;
  color:#ce2f31;
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  font-weight:bold;
  margin-left: 20px;
}

h2.economic {
  font-size: 30px;
  color:#132c43;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  line-height: 30px;
}

.deconstruct {
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 40px;
  color: white;
  text-align: center;
  margin-left: 150px;
}

/* Contemporary Figures*/

#contemporary-figures {
  background-color: var(--main-dark-blue);
  height: 100%;
}

.figuretitle {
  background-color: #132c43;
}

#lily {
  background-color: #e6bdba;
  background-image: url("../images/background_lily.png");
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

#letitia {
  background-color: #ce2f31;
  background-image: url("../images/let_back.png");
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

#claudia {
  background-color: #e6bdba;
  background-image: url("../images/claud_back.png");
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.cta-text-one {
  color: white;
  font-size: 70px;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  line-height: 80px;
}

#lils {
  width: 90%;
  margin-top: -140px;
  margin-left: 50px;
}

h1.figuretitle {
  font-size: 117px;
  color: white; 
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1.leaderlil {
  font-size: 80px;
  color: #ce2f31;
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  line-height: 230px;
}

#let {
  width: 90%;
  margin-top: -140px;
  margin-left: 50px;
}

#claud {
  margin-top: -140px;
  margin-left: 50px;
  width:90%;
}

h2.leader-info {
  font-size: 25px;
  color:#132c43;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  line-height: 30px;
  white-space: normal;
}

h1.leaderlet {
  font-size: 80px;
  color: #132c43;
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  line-height: 230px;
}

h1.leaderclaud {
  font-size: 80px;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  line-height: 230px;
}
    
h2.leader-claudia {
  font-size: 25px;
  color:white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  line-height: 30px;
  white-space: normal;
}

/*CTA section*/

.afford {
  padding-top: 15vh;
  padding-bottom: 15vh;
  background-color:white;
}

.pay {
  background-color: #e4a627;
  height: 539px;
}

h2.cta {
  font-size: 50px;
  color: #e6a827;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  line-height:60px;
  margin-top: 40px
}

#equal-margin-test {
  margin-top: 40px;
}

h1.equal {
  font-size: 150px;
  color:white; 
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  line-height: 230px;
  margin-top: 120px;
}

h1.leaderclaud {
  font-size: 80px;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-align: left;
  line-height: 230px;
}
    
h2.leader-claudia {
  font-size: 25px;
  color:white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  line-height: 30px;
}

.ocupation-sub-header {
  color: #e6a827;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  margin-left: 50px;
  font-size: 100px;
  margin-left: 105px;
}

/*END OF HILLARY CODE*/

.container {
  box-sizing: border-box;
  display: block;
  margin: auto;
  width: 100%;
}

/*TITLE SECTION*/

#title {
  height: 100%;
  width: 100%;
  background-image: url("../images/ewep.png");
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

.title-header {
  font-family: 'Fjalla One', sans-serif;
  font-size: 9em;
}

.title-sub-header {
  z-index: 1;
  color: pink;
}

video {
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;
  position: relative;
}

.no-padding {
  padding: 0;
}

.line-graph-sub-header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: var(--main-blue);
  white-space: normal;
  text-align: center;
  text-transform: uppercase;
}

/*HISTORY SECTION*/

#history {
  position: relative;
  width: 300%;
  background-color: #e3bab7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -180px;
}

.history-header {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  color: var(--main-dark-blue);
  text-transform: uppercase;
  font-size: 130px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.history-timeline-icons {
  width: 20%;
  margin: 0 auto;
}

.history-center {
  display: flex;
  flex-direction: column;
}

.history-card-headers {
  color: var(--main-dark-blue);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100pt;
  text-align: center;
}

.card-back-sub-header {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  margin-top: 15px;
}

p.paragraph-history-text {
  margin-right: 70px;
  margin-left: 70px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  white-space: normal;
}

.flip-container {
  perspective: 1000px;
  margin-bottom: 80px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 100%;
  height: 403px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.history-card-yellow {
  background-color: #E6A827;
}

.history-card-red {
  background-color: var(--main-red);
}

.history-card-pink {
  background-color: var(--main-blue);
}

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
}

#group-pacifier {
  height: 100%;
  width: 100%;
  background-color: var(--main-dark-blue);
}

/*STATES MAP SECTION*/

#state-map {
  background-color: #e6a827;
  background: linear-gradient(10deg, #e6a827 50%, white 10%)
}

#map_election {
  position: relative;
  height: 500px;
  width: 100%;
}

.sbs-header {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  color: var(--main-dark-blue);
  font-size: 80px;
  margin-top: 60px;
  margin-bottom: 10px;
}

path:hover {
  fill-opacity: .7;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: white;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

.legend {
  position:absolute;
  left:800px;
  top:350px;
}

/*CTA SECTION*/

#cta {
  background-image: url("../images/cta-background.png");
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.h1.cta {
  color: var(--main-dark-blue);
  font-family: 'Fjalla One', sans-serif;
  font-size: 150px;
  text-align: center;
}

#cta-two {
  background-color: #d73038;
}

#clock-image {
  height: 100%;
  width: 50%;
}

.clock {
  padding-top: 30vh;
  margin-left: 20vh;
}

.clippy {
  height: 500px;
  margin-left: 200px;
  margin-top: 100px;
  transition: 2 sec;
  -webkit-clip-path: polygon(0% 0%, 56% 2%, 100% 50%, 55% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 56% 2%, 100% 50%, 55% 100%, 0% 100%);
}

#cta-one {
  background: linear-gradient(13deg, var(--main-dark-blue) 50%, var(--main-blue) 10%);
}

#cta-center {
  height: 100%;
}

.friends {
  background-color: #132c43;
}
.firstlady {
  position:absolute;
  z-index:20;
  position:absolute
}

.secondlady {
  position:absolute;
  z-index:19;
}

.thirdlady {
  position:absolute;
  z-index:18;
}

.fourthlady {
  position:absolute;
  margin-left:-250px;
  z-index:17;
}

#skyline-svg {
  background: url("../images/Skyline-32.svg");
  background-repeat: repeat-x;
  min-width: 1400px;
}

#skyline {
  margin-top: -40vh;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*SOLUTIONS SECTION*/

#solutions {
  height: 100%;
  width: 100%;
}

#resources-center {
  height: 100%;
}

#family {
  background-color: #f1c8c5;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#political {
  background-color: var(--main-dark-blue);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .25s linear;
}

#political:hover {
  transform: scaleX(1.05);
  cursor: pointer;
  color: black;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#financial {
  background-color: var(--main-blue);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.h3.solutions-headers {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 90px;
}

.h1.h1.line-graph-quote {
  color: var(--main-dark-blue);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 50px;
  white-space: normal;
  margin-top: 30px;
  margin-left: 30px;
}

.showText {
  display: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  white-space: normal;
}

.showTextFinancial {
  display: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  white-space: normal;
}

.showTextFamily {
  display: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  white-space: normal;
}

#nav {
  position: fixed;
  z-index: 3;
}

#nav-hamburger {
  float: right;
  color: white;
  margin-right: 40px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(19, 44, 67, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 60px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover:first-child: {
  color: var(--main-red);
}

.overlay a:hover:nth-child(2) {
  color: #e6a827;
}

.overlay a:hover:nth-child(3) {
  color: var(--light-pink);
}

.overlay a:hover:nth-child(4) {
  color: var(--main-blue);
}

.overlay a:hover:last-child {
  color: #e6a827;
}

.nav-links {
  color: var(--main-red);
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

.overlay a:hover, .overlay a:focus {
  color: var(--main-red);
}

.overlay .closebtn {
  position: absolute;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.h4.solutions-subheads {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 35px;
  font-size: 25px;
  text-transform: uppercase;
}

/*FOOTER SECTION*/

#footer {
  background-color: var(--light-pink);
  height: 100%;
}

#footer-credits {
  background-color: var(--main-dark-blue);
  position: relative;
  z-index: 4;
  background-color: var(--main-dark-blue);
  position: relative;
  z-index: 4;
  margin-top: -35px;
}

#containerCircle {
  margin: 20px;
  width: 230px;
  height: 200px;
}

#containerCircle1 {
  margin: 20px;
  width: 230px;
  height: 200px;
}

#containerCircle3 {
  margin: 20px;
  width: 230px;
  height: 200px;
  display: -webkit-inline-box;
  margin-left: 100px;
}

#containerCircle4 {
  margin: 20px;
  width: 230px;
  height: 200px;
  display: -webkit-inline-box;
}

#containerCircle5 {
  margin: 20px;
  width: 230px;
  height: 200px;
  display: -webkit-inline-box;
  margin-left: 100px;
}

#containerCircle6 {
  margin: 20px;
  width: 230px;
  height: 200px;
  display: -webkit-inline-box;
}

#containerCircle7 {
  margin: 20px;
  width: 230px;
  height: 200px;
  display: -webkit-inline-box;
  margin-left: 100px;
}

#containerCircle8 {
  margin: 20px;
  width: 230px;
  height: 200px;
  display: -webkit-inline-box;
}

#containerCircle9 {
  margin: 20px;
  width: 230px;
  height: 200px;
  display: -webkit-inline-box;
  margin-left: 100px;
}

#containerCircle10 {
  margin: 20px;
  width: 230px;
  height: 200px;
  display: -webkit-inline-box;
}

.semi-circle-radial-graph {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  display: inline;
  font-size: 20px;
  margin-left: 200px;
  text-align: center;
}

.ocupation-stats-section {
  color: var(--light-pink);
  font-family: 'Fjalla One', sans-serif;
  font-size: 230px;
  margin-left: 50px;
  text-transform: uppercase;
}

.radial-graph-header-nurse {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 30px;
  margin-top: 70px;
}

#men, #women {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  margin-left: 95px;
  font-size: 40px;
  margin-top: 40px;
}

.radial-graph-sub-header-nurse {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-left: 93px;
  font-size: 20px;
  margin-top: 70px;
}

#line-graph {
  background-color: #e8bfbc;
}

.line-graph-quote {
  color: var(--main-dark-blue);
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  margin-left: 50px;
  white-space: normal;
  margin-top: 30px;
}

.yellow-span {
  color: #e6a827;
}

.red-span {
  color: var(--main-red);
}

#largest-pay-occupations {
  background-color: var(--main-red);
}

.pay-gap-occupations-largest-header {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 70px;
  margin-top: 10px;
}

#myChart {
  display: block;
  height: 250px;
  width: 500px;
}

.pay-gap-occupation-sub-head {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  color: #e6a827;
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
}

.ocupations-gpg-sub-header {
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--light-pink);
  font-size: 25px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: -20px;
}

#glass {
  margin-top: 20px;
  margin-left: 100px;
}

.glass-elevator-paragraph-intro {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;    
  margin-left: 110px;
  white-space: normal;
  margin-top: 30px;
}

#radial-graphs {
  background-color: var(--main-dark-blue);
  height: 100%;
  width: 100%;
  background-image: url("../images/occupation-background.png");
  background-position: center center;
  background-size: cover;
}

/*H CODE RESOURCES*/

#resources {
  background-color: #e1a327;
}

.row.resource {
   margin-bottom:-150px;
   z-index:2;
   position: relative;
}

h1.resource-header {
  font-size: 100px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  line-height: 130px;
  margin-top: 70px;
}

h2.links {
  font-size: 20px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  line-height: 50px;
}

h2.links:hover {
  font-size: 30px;
  color: #ce2f31;
}

.row.picket {
  z-index:1
}

#picket {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  animation: MoveUpDown 2s ease-in infinite;
  margin-top: -100px;
}

@keyframes MoveUpDown {
    0% {
        transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: translate(-5px, -5px) rotateX(3deg) rotateY(3deg);
    }
    100% {
        transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg);
    }
}

.no {
  padding: 0px;
}

.footer-header {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  margin-left: 21px;
  display: inline;
}

.footer-sub-header {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
  display: inline;
  font-size: 14px;
}

.footer-amp {
  color: white;
  display: inline;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}

#proud-dev {
  margin-left: 650px;
  font-size: 16px;
}

#alexa {
  margin-top: 0;
}

#crafted-seattle {
  margin-top: 15px;
  font-size: 16px;
}

.footer-links:hover {
  color: var(--main-red);
}

svg.svg-inline--fa.fa-hand-paper.fa-w-14 {
  visibility: hidden;
  font-size: 16px;
}

.footer-header:hover svg.svg-inline--fa.fa-hand-paper.fa-w-14 {
  visibility: visible;
  font-size: 16px;
  color: var(--light-pink);
}

svg.svg-inline--fa.fa-hand-paper.fa-w-14 {
  animation-name: shake;
  -webkit-animation: shake 0.5s alternate infinite; 
  -moz-animation: shake 0.5s alternate infinite; 
  animation: shake 0.5s alternate infinite; 
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

@keyframes shake {
  0% {-webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
  100% {-webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);}
}

svg.svg-inline--fa.fa-thumbs-up.fa-w-16 {
  visibility: hidden;
  font-size: 14px;
}

.footer-header:hover svg.svg-inline--fa.fa-thumbs-up.fa-w-16 {
  visibility: visible;
  font-size: 14px;
  color: var(--light-pink);
}

svg.svg-inline--fa.fa-thumbs-up.fa-w-16 {
  animation-name: flash;
  animation: flash .50s infinite alternate;
}

@keyframes flash {
  to { transform: scale(1.2); }
}